body,
html {
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

header {
  background: transparent;
  color: rgb(15, 6, 139);
  font-size: 0.9rem;
  text-shadow: 0.15em 0.1em 0.15em;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 0.5em;
  z-index: 1;
  width: 100vw;
  justify-content: space-between;
}

/*Menu options */
header nav {
  align-self: center;
}

/* Menu Buttons */
nav .menuBtn {
  width: 5rem;
  border: 0;
  background-color: rgb(109, 2, 109);
  color: rgb(215, 247, 193);
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 3px #111010;
  transition: 0.2s;
  -webkit-text-stroke-width: 0px;
}

/* Save Button Effects */
nav #saveBtn:hover {
  border: 2px solid rgb(215, 247, 193);
}

nav #saveBtn:active {
  background-color: rgb(88, 190, 19);
  box-shadow: 0 1px #111010;
  transform: translateY(1px);
  transition: 0.2s;
}

/* Reset Button Effects */
nav #resetBtn:hover {
  border: 3px solid rgb(187, 3, 3);
}

nav #resetBtn:active {
  background-color: rgb(212, 7, 7);
  box-shadow: 0 1px #111010;
  transform: translateY(1px);
}

main {
  display: grid;
  grid-template-rows: 5rem 30% 4rem minmax(0, 1fr);
  grid-template-columns: repeat(4, 25%);
  grid-auto-flow: column;
  height: 100vh;
  width: 100vw;
  background-image: url("./assets/cookie-monster.jpg");
  background-size: cover;
}

/*Cookie button, 3 counters (Cookies, CPC, CPS) */
.mainDisplay {
  grid-column: 2 / span 2;
  grid-row: 2;
  place-self: center;
  color: rgb(123, 255, 0);
  font-weight: bold;
  font-size: 1.2rem;
}

/*Warning message for upgrades*/
.mainDisplay #warningMsg {
  font-size: 1rem;
  color: rgb(255, 0, 0);
  font-weight: bolder;
  text-decoration: underline;
  visibility: hidden;
  height: 1.5rem;
}

.mainDisplay button {
  width: 10rem;
  height: 10rem;
  background-image: url(./assets/button.png);
  background-size: cover;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-text-stroke-width: 0px;
}

.mainDisplay button:hover {
  border: 2px solid rgb(109, 2, 109);
}

.mainDisplay button:active {
  transform: translateY(2px);
  opacity: 80%;
}

/* shop title */
#shop {
  grid-column: 2 / span 2;
  grid-row: 3;
  place-self: center;
  color: rgb(179, 4, 202);
  text-shadow: 0.15em 0.1em 0.15em;
}

.upgrades {
  grid-column: 1 / span 4;
  grid-row: 4;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-content: space-around;
  color: #ff00d4;
}

/* Upgrade Buttons Effects */
.upgrades button {
  width: 4rem;
  height: 2rem;
  border-radius: 25%;
  border: 0;
  background-color: rgb(109, 2, 109);
  color: rgb(215, 247, 193);
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 3px #111010;
  transition: 0.2s;
  -webkit-text-stroke-width: 0px;
}

/* Upgrade Button Effects */
.upgrades button:hover {
  border: 2px solid rgb(215, 247, 193);
}

.upgrades button:active {
  background-color: rgb(88, 190, 19);
  box-shadow: 0 1px #111010;
  transform: translateY(1px);
}
